  <div id="formView" type="text/template">
      <h2>New user:</h2>
          <p>
            <label for="name">Name: </label>
            <input type="text" id="name">
          </p>
          <p>
            <label for="age">Age: </label>
            <input type="text" id="age">
          </p>
          <button id='create'>Create</button>
          <button id='click'>click</button>
        </div>