  <div id="userView" type="text/template">
    <br>
    Name:<strong id='name-p'> <%=name%></strong>
    <br>
    Age:<strong id='age-p'> <%=age%></strong>
    <br>
      <button class='edit'>edit</button>
      <button class='delete'>delete</button>
      <button class="update" style="display:none" >update</button>

    </div>